:root {
    --mainColor: #78e29c;
    --secColor: #2bac6b;
    --background: #242834;
    --darkBackground: #0d1322;
}
/*Globales*/
html {   
    font-size: 62.5%;
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {   
    font-size: 16px; /* 1rem = 10px */
    background-color: var(--background);
    background: radial-gradient(var(--background)5%, var(--darkBackground)60%);
    padding: 1rem;
}
b {
    color: var(--mainColor);
}
p {
    color: white;
}
h1 {
    color: var(--mainColor);
    text-align: center;
}